SECRET_KEY=yoursecreykey
MONGO_URI=mongodb://localhost:27017/iotsystem
MQTT_BROKER=localhost
MQTT_PORT=1883
SENSORS_DATA_TOPIC='esp8266/sensors'
TOPIC_LED1='esp8266/led1'
TOPIC_LED2='esp8266/led2'
TOPIC_LED3='esp8266/led3'
TOPIC_LED_ALL='esp8266/all'
LED_CONTROL_TOPIC='esp8266/control'
TOPIC_LED1_STATE='esp8266/led1/state'
TOPIC_LED2_STATE='esp8266/led2/state'
TOPIC_LED3_STATE='esp8266/led3/state'